<div id="user_list" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 no_padding">
    <%= render partial: 'user', collection: @users %>
  </div>
  <div class="col-md-1"></div>
</div>
