#top_nav_wrapper {
  height: 34pt;
  background-color: rgba(#FFF, 1);
  text-align: left;
  vertical-align: middle;
}

#top_nav {
  padding-left: 10pt;
}

#top_nav a {
  display: inline-block;
  color: #EA2A56;
  text-decoration: none;
  font-size: 22pt;
  font-family: Share;
}

#top_nav div a {
  padding-left: 14pt;
  padding-right: 14pt;
  transition: 0.1s ease;
}

#top_nav .current_action {
  border-bottom: 2px solid #EA2A56;
}

#top_nav div a:hover {
  border-bottom: 4px solid #EA2A56;
}

#top_nav img {
  height: 28pt;
}

#top_nav .top_nav_action {
  display: inline-block;
  float: right;
}
