@import "bootstrap";
@import "users";
@import "nav_bar";
@import url(https://fonts.googleapis.com/css?family=Share);
@import url(https://fonts.googleapis.com/css?family=Kalam);

.center_div {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}
